<!-- Footer Start -->
 <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
    <div class="container py-5">
        <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
            <div class="row g-4">
                <div class="col-lg-3">
                    <a href="#">
                        <h1 class="text-primary mb-0">SMDI </h1>
                        <p class="text-primary mb-0">The Highest Levels of Service</p>
                    </a>
                </div>

                <div class="col-lg-3">

                </div>
            </div>
        </div>
        <div class="row g-5">

            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Contact</h4>
                    <p>Address: 1031, Victoria Building, Roxas Avenue, Roxas City, 5800</p>
                    <p>Email: smdi_headoffice@yahoo.com</p>
                    <p>Phone: 0999 994 5063</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
  
    <!-- Copyright -->
    <div class="container-fluid copyright bg-dark py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    <p>Copyright © 2024 Solid Motorcycle Distributors Incorporated</p>
                     <p>Powered by MBC Creations/Mikah Layno</p>
                </div>
            </div>
        </div>
    </div>



        <!-- Back to Top -->
        <a href="#" class="btn btn-white border-3 border-primary rounded-circle back-to-top"><i
                class="fa fa-arrow-up"></i></a>