<!-- navbar -->
 <div class="container-fluid fixed-top">
    <div class="container topbar bg-primary d-none d-lg-block">
        <div class="d-flex justify-content-between">
            <div class="top-info ps-2">
                <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-primary"></i> <a href="inquiry_form.html"
                        class="text-white">1031, Victoria Building, Roxas Avenue, Roxas City, 5800</a></small>
            </div>
            <div class="top-link pe-2">
            </div>
        </div>
    </div>
    <div class="container px-0">
        <nav class="navbar navbar-light bg-white navbar-expand-lg">
            <a href="index.html" class="navbar-brand">
                <img src="assets/img/smdi_logo.jpg" alt="Company Logo" class="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="index.html" class="nav-item nav-link active">Home</a>
                    <div class="nav-item dropdown">
                        <a href="inquiry_form.html" class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Motorcycles
                        </a>
                        <ul class="dropdown-menu bg-primary rounded-0 motorcycle-dropdown"
                            aria-labelledby="navbarDropdown">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h6 class="text-secondary">Brands</h6>
                                        <li><a class="dropdown-item text-dark"
                                                href="honda_motorcyles.html">Honda</a></li>
                                        <li><a class="dropdown-item text-dark"
                                                href="suzuki_motorcyles.html">Suzuki</a></li>
                                        <li><a class="dropdown-item text-dark"
                                                href="kawasaki_motorcyles.html">Kawasaki</a></li>
                                        <li><a class="dropdown-item text-dark"
                                                href="yamaha_motorcyles.html">Yamaha</a></li>
                                         
                                    </div> 
                                    <div class="col-md-6">
                                        <h6 class="text-secondary">Types</h6>
                                        <li><a class="dropdown-item text-dark" href="Big_bikes.html">Big
                                                Bikes</a>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div>
                    <a href="about.html" class="nav-item nav-link">About Us</a>
                    <a href="parts.html" class="nav-item nav-link">Parts</a>
                    <a href="careers.html" class="nav-item nav-link">Careers</a>
                    <a href="branches.html" class="nav-item nav-link">Branches</a>
                    <a href="lto_reg_inquiry.html" class="nav-item nav-link">LTO Reg Inquiry</a>
                    <!--<a href="trackmoto/customer_dashboard.html" class="nav-item nav-link">Track Mo'to</a>-->
                </div>
            </div>
        </nav>
    </div>

</div>
<!-- navbar -->